/* commons */

* {
  font-family: 'Roboto', arial;
  margin: 0;
  padding: 0;  
}


/* header */

ul {
  display: flex;
  list-style-type: none;
}

a {
  color: #e5e7eb;
  text-decoration: none;
  padding: 12px;
}

.header {
  height: 64px;  
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  
  /*border: 1px solid red; */
}

.logo {  
  font-size: 22px;
  font-weight: bold;
  margin-left: 196px;

  /*border: 1px solid yellow; */
}

.links {
  font-size: 18px;  
  margin-right: 72px;

  /*border: 1px dashed yellow; */

}

/* awesome */

.awesome {
  display: flex;
  height: 464px;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  
  border: 1px dotted red;
}

.a-box {  
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 450px;
  margin: 24px;  

  border: 2px dotted green;
}

.a-box h1 {
  text-align: left;
  font-size: 40px;
  font-weight: 900;
}

.a-box p {
  text-align: left;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  border: 1px solid #3882f6;
  font-size: 18px;
  font-weight: bolder;
  width: 128px;
  margin-top: 12px;
  padding: 4px 24px;
}

img {
  height: 230px;
  width: 475px;  

  border: 1px solid lightgreen;
}

/* info */
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.card p {
  font-size: 18px;
  color: #1f2937;
  text-align: center;
}
  
.info { 
  height: 464px;
  padding-top: 36px;

  /*border: 4px solid black;*/
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4px;

  /*border: 1px solid red;*/
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 16px;
  width: 150px;
  gap: 0px;

  /*border: 1px solid green;*/
}

.box {
  border: 4px solid #4052f8;
  border-radius: 16px;
  width: 160px;
  height: 160px;
  gap: 16px;  
}

/* quote */

.quote-box {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 428px;
  background-color: #e5e7eb;   
}

.quote p {
  display: flex;
  flex-direction: column;
  width: 800px;  
  font-size: 36px; 
  font-weight: 100;
  font-style: italic; 
  padding: 30px;  
}

.quote div {
  font-size: 22px;
  font-weight: bold;
  margin-left: 48px;  
  text-align: right;
}

/* footer */

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px; 
}